body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #e0ebed;
  overflow: hidden;
  
  /* background: url("https://wallpaperaccess.com/full/1155041.jpg"); */
}
.title-container{
  display: inline-block;
  text-align: center;
  position: absolute;
  width: 90%;
  margin: 5%;
  border-radius: 10px;
 
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  padding: 5px;
  padding-bottom: 2px;
  margin: 0;
}
.sub-title {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  padding-top: 2px;
  font-size: 1.2em;
  margin: 0px;
}

.title-container1 {
  background-color: #dddbdb;
  border: solid #242323 2px;
}

.title1, .sub-title1 {
  color: #242323;
}

.title-container2 {
  opacity: 0;
  background-color: #adc2fa;
  border: solid #02288c 2px;
}

.title2, .sub-title2 {
  color: #02288c;
}

.title-container3 {
  opacity: 0;
  background-color: #ffe7c4;
  border: solid #d27d00 2px;
}

.title3, .sub-title3 {
  color: #d27d00;
}

.title-container4 {
  opacity: 0;
  background-color: #ffe0e0;
  border: solid #a82020 2px;
}

.title4, .sub-title4 {
  color: #a82020;
}


.title-container5 {
  opacity: 0;
  background-color: #c0e1cd;
  border: solid #08421e 2px;
}

.title5, .sub-title5 {
  color: #08421e;
}

.title-container6 {
  opacity: 0;
  background-color: #f1c4af;
  border: solid #ab3802 2px;
}

.title6, .sub-title6 {
  color: #ab3802;
}

.title-container7 {
  opacity: 0;
  background-color: #d1b9df;
  border: solid #370159 2px;
}

.title7, .sub-title7 {
  color: #370159;
}

.title-container8 {
  opacity: 0;
  background-color: #c0cdf0;
  border: solid #02288c 2px;
}

.title8, .sub-title8 {
  color: #02288c;
}

.title-container9 {
  opacity: 0;
  background-color: #f1c4af;
  border: solid #ab3802 2px;
}

.title9, .sub-title9 {
  color: #ab3802;
}

.title-container10 {
  opacity: 0;
  background-color: #ffe7c4;
  border: solid #d27d00 2px;
}

.title10, .sub-title10 {
  color: #d27d00;
}


.title-container11 {
  opacity: 0;
  background-color: #f1c4af;
  border: solid #a82020 2px;
}

.title11, .sub-title11 {
  color: #a82020;
}

.title-container12 {
  opacity: 0;
  background-color: #d1b9df;
  border: solid #370159 2px;
}

.title12, .sub-title12 {
  color: #370159;
}


.title-container13 {
  opacity: 0;
  background-color: #c0e1cd;
  border: solid #08421e 2px;
}

.title13, .sub-title13 {
  color: #08421e;
}

.bottom-container-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.bottom-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin-left: 5%;
  margin-right: 5%;
}





.scene,
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}





